@CHARSET "UTF-8";
/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
/* Reset */
/* 나눔바른고딕폰트 */
@font-face {
  font-family: 'NBG';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NanumBarunGothic.eot);
  src: url(fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
       url(fonts/NanumBarunGothic.woff) format('woff'),
       url(fonts/NanumBarunGothic.ttf) format('truetype');
}
@font-face {
  font-family: 'NBGB';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/NanumBarunGothicBold.eot);
  src: url(fonts/NanumBarunGothicBold.eot?#iefix) format('embedded-opentype'),
       url(fonts/NanumBarunGothicBold.woff) format('woff'),
       url(fonts/NanumBarunGothicBold.ttf) format('truetype');
}
body,h1,h2,h3,h4,input,button,pre,p,select,em{font-family:NBG,dotum;font-size:15px;color:#666;}
h1,h2,h3,h4,h5,h6{color: #000}
.fy{font-family: 'YGO320'; font-size: 37pt; color: #595959; letter-spacing: -1px;}
*/
html,body{width:100%;height:100%; margin: 0; padding: 0}
html{min-height: 100%;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,form,fieldset,p,button{margin:0;padding:0}
img,fieldset,iframe,frame{border:0px none;}
img{vertical-align: middle;}
li{list-style:none}
input,select,button{vertical-align:middle;margin: 0;padding: 0 }
i,em,address{font-style:normal}
button{margin:0;padding:0}
a{color:#666;text-decoration:none}
button *{position:relative}
button img{left:-3px;*left:auto}
html:first-child select{heig7ht:20px;padding-right:6px}
option{padding-right:6px}
hr{display:none}
legend{*width:0}
table{/* border-collapse:collapse;table-layout:fixed; */border-collapse:collapse;border-spacing:0}

.left{
	float: left;
}
.right{
	float: right;
}
.clear{
	clear: both;
}
