@CHARSET "UTF-8";
.compare_tit{
	height: 81px;
	line-height: 81px;
}
.rank_info_title{
	height: 256px;
	border-top:1px solid #ccc;
	border-bottom: 1px solid #ccc;
}
.rank_info_title_img{
	width: 328px;
	padding-top: 30px;
	text-align: center;
}
.rank_info_title_desc{
	padding-top: 73px;
}
.rank_info_title_desc .givus_title{
	color: #384a81;
	font-size: 35px;
	font-weight: bold;
}
.rank_info_title_desc .givus_title_msg{
	
}
.givus_title_msg .big{
	font-size: 86px;
	color: #0076b6;
	font-weight: bold;
}
.givus_title_msg .big2{
	font-size: 86px;
	color: #1f8dc5;
	font-weight: bold;
}
.givus_title_msg .small{
	font-size: 32px;
	color: #0761af;
	padding-top: 44px;
	padding-left: 5px;
}
.rankinfo_title2{
	padding-top: 46px;	
}
.rankinfo_title2 h4{
	font-size: 30px;
	color: #333;
	font-weight: normal;
	padding-left: 10px;
}
.rank_info_bg{
	background: url("../../img/intro/rank_info_center.png") center 198px no-repeat;
	width:960px;
	height: 786px;
}
.rank_info_bg div{
	position: absolute;
}
.rankinf_bg_injectin{
	margin-left: 591px;
	margin-top: 50px;
}
.rankinfo_list.list_type.pos1{
	margin-left: 199px;
	margin-top: 74px;
}
.rankinfo_list.list_type.pos2{
	margin-left: 32px;
	margin-top: 285px;
}
.rankinfo_list.list_type.pos3{
	margin-left: 32px;
	margin-top: 518px;
}
.rankinfo_list.list_type.pos4{
	margin-left: 756px;
	margin-top: 229px;
}
.rankinfo_list.list_type.pos5{
	margin-left: 756px;
	margin-top: 538px;
}
.rankinfo_list.list_type ul li{
	font-size: 16px;
	height: 23px;
	line-height: 23px;
	padding-left: 5px;
}

.rankinfo_bottom{
	width: 303px;
	height: 35px;
	line-height: 35px;
	color: #3399cc;
	left:50%;
	margin-left:-151px;
	margin-top: 678px;
	text-align: center;
	background-color: #f5f5f5;
	font-size: 18px;
}
.rankinfo_list h5{
	font-size: 29px;
	color: #1f8dc5;
	padding-bottom: 5px;
}

.grade_infomation{
	height: 241px;
}
.grade_icn_bg{
	background: url("../../img/intro/grade_bg.png") center center no-repeat;
	width: 316px;
	height: 125px;
	text-align: center;
	font-size: 40px;
	color: #fff;
	padding-top: 80px;
}
.grade_desc_list{
	padding-top: 58px;
}
.grade_desc_list h4{
	font-size: 31px;
	font-weight: normal;
	color: #3399cc;
	padding-bottom: 4px;
	padding-left: 0px;
}
.grade_desc_list p{
	font-size: 18px;
	line-height: 24px;
	
}
.rankinfo_final{
	border-top:1px solid #ccc;
	height: 100px;
	padding-top: 48px;
}
.rankinfo_final p{
	line-height: 35px;
	font-size: 26px;
	text-align: center;
}

.about_bg{
	background-position: center top;
	background-repeat: no-repeat;
	height: 1080px;
}
.about_bg.bg1{
	background-image: url("../../img/intro/about_bg1.jpg");
}
.about_bg .text_title{
	text-align: center;
	padding-top: 152px;
	display: none;
}
.about_bg .text_title p{
	padding-bottom: 12px;
}
.bottom_arrow{
	position: fixed;
	bottom: 20px;
	left:50%;
	margin-left: -30px;
}
.grade_info_color{
	color: #3399cc;
}